<footer>
    <p><a href="/choices">Your Path</a></p>
    <button id="restartBtn">Restart</button>
    <p>Made by Ash <em>without</em> AI.</p>
    <p>Inspiration taken by Wagner's Tristan & Isolde, I don't own the characters.</p>
</footer>