<footer>
    <p><a href="/story">Your Path</a></p>
    <button id="restartBtn">Restart</button>
    <p>Story made by Ash <em>without</em> AI.</p>
    <p>Inspiration taken by Wagner's Tristan & Isolde, I don't own the characters.</p>
    <p>This is a school project</p>
</footer>