{% extends "layout.njk" %}

{% block content %}

<main>
    <h1>{{ title }}</h1>
    <p><em>{{ message }}</em></p>
    <p>This is a school project.</p>
    <a href="/story">Start here!</a>
</main>

{% endblock %}