:root {
    --backgroundColour: rgb(23, 23, 23);
    --textWhite: rgb(226, 226, 226);
}

body, main {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
    color: var(--textWhite);
    background-color: var(--backgroundColour);
}

main {
    width: 40%;
    border: 1px solid white;
    padding: 2.5rem;
    display: grid;
    justify-content: space-evenly;
    margin-inline: auto;
    margin-top: 10rem;

    a {
    color: white;
    }

    a:visited {
        color: var(--textWhite);
    }

    a:hover {
        font-weight: bold;
    }
}

footer {
    border-top: solid 1px var(--textWhite);
    width: 60%;
    margin-inline: auto;
    margin-top: 5rem;
    text-align: center;
    padding-inline: 4rem;
    padding-top: 4rem;

    a {
        color: red;
        text-decoration: none;
    }
}

#restartBtn {
    border: 1px solid transparent;
    background-color: rgb(38, 38, 38);
    color: red;
    padding: 10px;
    border-radius: 5px;
}

#restartBtn:hover {
    cursor: pointer;
    border-color: red;
}

#restartBtn:active {
    border-color: var(--textWhite);
}